kubeconfig
.idea/

# build files
dist/
build/
.venv/

# changelog is generated automaticaly by hack/generate-changelog.sh
# available only in the rendered webpage (built by mkdocs).
docs/CHANGELOG.md
