kubeconfig
.idea/

# build files
dist/
build/
.venv/

# changelog is generated automaticaly by hack/generate-changelog.sh
# available only in the rendered webpage (built by mkdocs).
# See the make commands: 'build-changelog' and 'build-changelog-commmits'
docs/CHANGELOG.md
docs/CHANGELOG_commits.md
opct.log

# Ignore local tarbal files
*.tar.gz
