name: Documentation

on:
  # Static pages are build only targeting the main branch
  push:
    branches: ["main"]
    paths: ['mkdocs.yml', 'docs/**', 'hack/docs-requirements.txt']

  workflow_dispatch:

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

# Allow one concurrent deployment
concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          fetch-tags: true

      - name: Build mkdocs website
        run: |
          sudo apt-get update
          sudo apt-get install -y python3-pip graphviz
          pip3 install -r hack/docs-requirements.txt
          make build-docs

      - name: Setup Pages
        uses: actions/configure-pages@v3

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v1
        with:
          path: './site'

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v1
